.mcard{
    width: 350px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}
.cat{
    color: rgb(104, 110, 115);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.tag{
    color: rgb(104, 110, 115);
}

.bot{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px
}

.circle{
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.photo{
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    color: white;
    padding: 0.2em;
    font-size: small;
    font-weight: 900;
    text-align: center;
}

.cicon{
    display: flex;
    justify-content: center;
}
.exclamation {
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  .innercard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .userstatus {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -4px;
    right: -4px;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
  }
  .cardtitle {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(100, 100, 100);
    width: fit-content;
    padding: 2px 4px;
  }
